@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic");

.heroSection {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.heroPic {
    opacity: 0.79;
    width: 100%;
    height: 100%;
}

.heroCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroText {
    max-width: 984px;
    min-width: 300px;
    /* width: 90; */
    /* height: 172px; */
    /* font-family: "Proxima Nova Lt"; */
    /* font-size: 72px; */
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 1px;
    /* line-height: 90px; */
    margin-bottom: 56px;
}

.blueBtn {
    /* width: 392px; */
    width: 40%;
    height: 56px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #0069d2;
    color: #ffffff;
    /* font-family: "Proxima Nova Lt"; */
    font-size: 14px;
    /* font-size: 1vw; */
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
}

.productNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    border-bottom: 1px solid #d5d6d6;
    border-top: 1px solid #d5d6d6;
}

.productNav li {
    display: inline-block;
    border-right: 1px solid #d5d6d6;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1px;
}

li a {
    color: rgba(46, 49, 52, 0.8);
    /* font-family: "Proxima Nova Lt"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.mainNav {
    width: 100%;
    height: 72px;
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    background-color: #ffffff;
}

.mainNavul {
    /* padding: 29px; */
    text-align: center;
    
}

.mainNavli {
    display: inline-block;
    color: rgba(46, 49, 52, 0.8);
    /* font-family: "Proxima Nova Lt"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
}

/* .mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 29px;
    background-color: #ffffff; 
    text-align: center;
}

.mainNav li {
    display: inline-block;
    padding-right: 40px;
} */
.mainNavButton {
    float: right;
    width: 90px;
    height: 36px;
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    border-radius: 4px;
    background-color: #0069d2;
    margin-right: 23px;
    /* margin-bottom: 19px; */
    color: #ffffff;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;
}

.nocontainer {
    /* padding-right: 20px;
    padding-left: 20px; */
    margin-right: auto;
    margin-left: auto;
}
.mainNav img {
    float: left;
}

.slideBoxbkd {
    width: 100%;
    height: 232px;
    border-radius: 2px;
    background-color: #f4f5f7; 
}

.slideBox {
    width: 440px;
    height: 184px;
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 24px;
}

.slideBox p {
    opacity: 0.8;
    color: #2e3134;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
}

.slideBox img {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 16px; 
}

  /* Pop */
  @-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

.cardSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    flex: 1 0 21%

}

.cards {
    width: 288px;
    height: 280px;
    box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
    border-radius: 4px;
    background-color: #ffffff;
    margin: 24px;

}

.cardImg {
    width: 288px;
    height: 164px;
    padding-bottom: 14px;
}



.cardIcon {
    padding-right: 4px;
    padding-left: 8px
}

.iconRow {
    display: inline;
    padding-left: 8px;
    color: #2e3134;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 12px;
    text-transform: uppercase;
}

.cardDetails {
    /* width: 99px;
    height: 16px; */
    color: #0069d2;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 16px;
    margin: 0px
}

.cardHeader {
    width: 220px;
    /* height: 36px; */
    color: #2e3134;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding-left: 16px;
    text-align: left;
}

.imgSm {
    float: right;
    margin-right: 16px;
}

.cardOverlay {
    width: 112px;
    height: 150px;
    background-color: rgba(0, 12, 40, 0.54);
    position: absolute;
    right: 0px;
    color: #ffffff;
    text-align: center;
}

.bigNum {  
    font-family: "League Gothic - Regular";
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding-top: 41px;
}

.workouts {
    /* font-family: "Proxima Nova Rg"; */
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}
.equipText {
    /* Style for "Interested" */
    /* width: 808px;
    height: 28px; */
    opacity: 0.8;
    color: #34383c;
    /* font-family: "Proxima Nova Lt"; */
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 24px;
}

.equipBox {
    width: 330px;
    height: 330px;
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    border-radius: 4px;
    background-color: #ffffff;  
    margin-left: 24px;
    margin-bottom: 24px;

}

.equipBox img {
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 181px;
    height: 228px;
}

.equipSubTitle {
    opacity: 0.8;
    color: #2e3134;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 28px;
    text-align: center;
    /* padding-bottom: 24px; */
}

.equipFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footerbkd {
    height: 208px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #2e3134;
    margin-top: 40px;
}

.footerbkd2 {
    height: 208px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #2e3134;
    margin-top: 40px;
    color: #ffffff;
    
}

.footerbkd2space {
    padding-top: 48px;
}

.footerHeader {
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    /* line-height: 16px; */
    /* padding-bottom: 8px;; */
}

.footerTable {
    color: #ffffff;
    text-align: left;
    margin: 0 auto;
}

.footerInfo {
    opacity: 0.8;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 8px 0px;
}


.footerTable th {
    /* width: 184px; */
    height: 16px;
    color: #ffffff;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
    padding-top: 48px;
    padding-bottom: 16px;
    /* width: 184px; */
    padding-left: 12px;

}

.footerTable td {
    width: 184px;
    padding: 0 24px;
    opacity: 0.8;
    color: #ffffff;
    /* font-family: "Proxima Nova Lt"; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding-bottom: 16px;

}

.footerIcons {
    border-bottom: 2px solid #585a5d;
    border-top: 2px solid #585a5d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #2e3134;
    height: 72px;
    text-align: center;
}

.footerIcons img {
    display: inline-block;
    padding: 16px 16px;
}

.footerBottom {
    width: 100%;
    height: 64px;
    background-color: #2e3134;
    color: #ffffff;
    /* font-family: "Proxima Nova Rg"; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 16px;
    text-align: center;   
}

.footerBottom td {
    display: inline-block;
    /* padding-right: 24px; */
    padding-top: 24px;
}

.languageBox {
    /* float: left; */
    border: 0;
    /* padding-left: 40px; */
    position: absolute;
    left: 40px;
}

@media (max-width: 768px) {
    .languageBox {
      position: inherit;
    }
  }
  
  /* Float to the right on screens that are equal to or greater than 769px wide */
  @media (min-width: 769px) {
    .languageBox {
      position: absolute;
    }
  }

.languageBox select {
    background-color: #2e3134;
    color: #ffffff;
    border: 0;
}

.centerLang {
    padding-right: 24px;

}